[submodule "lnpixels"]
	path = lnpixels
	url = https://github.com/anabelle/lnpixels.git
[submodule "pixel-agent"]
	path = pixel-agent
	url = https://github.com/anabelle/pixel-agent.git
[submodule "pixel-landing"]
	path = pixel-landing
	url = https://github.com/anabelle/pixel-landing.git
