[submodule "lnpixels"]
	path = lnpixels
	url = https://github.com/anabelle/lnpixels.git
	branch = main
[submodule "pixel-agent"]
	path = pixel-agent
	url = https://github.com/anabelle/pixel-agent.git
[submodule "pixel-landing"]
	path = pixel-landing
	url = https://github.com/anabelle/pixel-landing.git
[submodule "syntropy-core"]
	path = syntropy-core
	url = https://github.com/anabelle/syntropy-core.git
	branch = main
